.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.adress-link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-span {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
body {
  color: #434455;
  background: #ffffff;
}

.section-one {
  background-color: #2e2f42;
}
.main-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-service-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
}

.order-service-btn:hover,
.order-service-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.section-three {
  background-color: #f4f4fd;
  color: #2e2f42;
}

.team-list-item {
  background-color: #ffffff;
}

.secondary-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.additional-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-content {
  background-color: #2e2f42;
}

.text-footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.color-logo-footer {
  color: #f4f4fd;
}
