/* RULES TAG*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* NAVIGATION */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-span {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menu {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
}

.adress-list {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.page-adress {
  display: flex;
  align-items: center;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}
/* MAIN CONTENT */

/*HERO SECTION */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero {
  height: 600px;
  background-color: #2e2f42;
}
.main-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-top: 188px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
  color: #ffffff;
}

.order-service-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
}

.order-service-btn:hover,
.order-service-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* SCTION TWO */
.secondary-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.Comp-Desc-list {
  gap: 24px;
}

.additional-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-company {
  width: 264px;
}
/* SECTION THREE */
.our-team {
  background-color: #f4f4fd;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.team-list-item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
/* SECTION FOUR */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list-item {
  width: 360px;
  border: 1px solid #e7e9fc;
}

/* FOOTER */
.footer-content {
  height: 312px;
  padding-top: 60px;
  background-color: #2e2f42;
}

.text-footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.color-logo-footer {
  color: #f4f4fd;
}
